*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#heading1{
    color: blue;
}
#heading1{
    color: red;
    font-size: 50px;
    border: 5px solid blue;
    display: inline;
    padding: 20px;
    margin: 20px;
    background-color: yellow;
}
.heading2{
    color: cyan;
    font-size: 30px;
}
.container{
    background-color: greenyellow;
}
h1, h2{
    color: green;
    font-family: 'Lato', sans-serif;
    font-weight: 1000;
    font-size: 50px;
}
textarea{
    display: block;
}
